
.logo {
	width: 150px;
}

.active {
	box-shadow: 0 0 10px rgba(244,241,241,0.5);
	/*border: 2px solid #F65814!important;*/
}
.passive {
 opacity: 0.6;
 transition: opacity 0.1s linear;
}
.passive:hover {
	opacity: 1;
	box-shadow: 0 0 10px rgba(244,241,241,0.5);
}

.logo-item {
	max-width: 120px;
	width: 100px;
	margin-right: 15px;
	padding-bottom: 5px;
}

.uk-navbar-nav {
	margin-top: 10px;
}

.uk-offcanvas-reveal {
	background-color: #DBD9D9!important;
}
.uk-offcanvas-bar {
	background-color: #DBD9D9!important;
}

.ee {
	font-weight: 700;
	font-size: 16px;
	color: #333!important;
}

.uk-navbar-nav-item {
	font-weight: 700;
	border-top: 0px solid transparent;
	border-bottom: 3px solid transparent;
	transition: border-bottom .2s, border-top .2s;
}

.uk-navbar-nav-item:hover {
	color: #2c2b3b;
	border-top: 3px solid transparent;
	border-bottom: 3px solid #F65814;
}

.nav {
	padding-top: 5px;
	background: rgb(244,241,241);
	background: linear-gradient(90deg, rgba(244,241,241,1) 53%, rgba(50,54,57,0.8244341681985294) 100%);
}

.mob-nav {
	background: rgb(244,241,241)!important;
	background: linear-gradient(90deg, rgba(244,241,241,1) 53%, rgba(50,54,57,0.8244341681985294) 140%)!important;
}


.mob-icon {
	color: #333!important;
}
.mob-icon:hover {
	color: #333!important;
}

.uk-button {
	font-weight: 700;
	background-color: #F65814!important;
	border-radius: 20px;
}

.uk-button:hover {
	background-color: #646769!important;
	color: #F4F1F1!important;
}

.icom {
	background-color: #646769!important;
	color: #F4F1F1!important;
}
/*NAVIGATION*/
.bgc {
	margin-bottom: -1px;
	background-color: #CDCDCD;
}
.main-card {
	padding-top: 40px;
}

.card-1 {
	max-width: 850px;
	border-radius: 10px;
}

.card-2 {
	max-width: 300px!important;
	border-radius: 10px;
}

.mission {
	width: 100px;
}

.txt {
	color: #222;
	font-size: 16px;
}

.card-left {
	max-width: 600px;
}
.card-right {
	width: 130px;

}

.about-img {
	margin-top: 20px;
	width: 180px;
	height: 180px;
}

.decor {
	width: 120px;
}

.decor1 {
	width: 120px;
	rotate:623deg;
}
.title {
	display: flex;
	align-items: center;
	justify-content: space-around ;
}

.uk-h1 {
	color: #F65814!important;
}




/*FOOTER*/

.footer {
	margin-top: 40px;
	padding: 20px 0px 20px 0px;
}



.ff {
	max-width: 50px!important;
	width: 50px!important;
	height: 50px;
	margin-top: 5px;
	background-color:#F65814 !important;
	color:#fff;

}

.ii {
	color: #56595C;
}

.rr {
	background-color: #333!important;
	color: #fff;

}
.gg {
	color: #fff!important;
}
.uk-card-title {
	font-weight: 700;
}

dt {
	padding-top: 15px;
}

.price-txt {
	margin-bottom: 50px;
	color: #333;
}


@media (max-width: 400px) {
	
	.about-img {
		margin: 20px auto; 
	}

	.uk-h1 {
		font-size: 27px;
	}
	.decor {
		width: 80px;	
	}
	.decor1 {
		width: 80px;	
	}
}

.k1 {
	display: none;
}

@media (max-width: 510px) {
	.k0 {
		display: none;
	}
	.k1 {
		display: block;
	}
}

